<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionZoo3.Properties.Settings.GestionZoo3ConnectionString"
            connectionString="Data Source=LUCIDOLUX-PC;Initial Catalog=GestionZoo3;User ID=SA;Password=Usuario"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>